server:
  port: 9090

spring:
  application:
    name: GreetAPI

  boot:
    admin:
      client:
        url: http://localhost:1111
        instance:
          prefer-ip: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
